{% load static %}
<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'xscratch/css/styles.css' %}">
  <title>{% block title %}{% endblock %}</title>
  {% block scripts %}
  {% endblock %}
</head>
<body style="margin: 0; height: 100%;">
  <div id="nav-menu">
    <ul>
      {% block menu_items %}
      {% endblock %}
    </ul>
  </div>
  <div id="main_content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="nav-bottom">
    <p>Mainecoon @ 2018 - Para mais informações visite o <a href="https://gitlab.com/gabaconrado/mainecoon">repositório oficial</a>.</p>
  </div>
</body>
</html>
