{% extends 'xscratch/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block menu_items %}
<li><img src="{% static 'xscratch/img/maine.png' %}" alt="Mainecoon logo" width="75px" /></li>
<li class="active"><a href="{% url 'xs:home' %}">Home</a></li>
<li><a href="{% url 'xs:learn' %}">Aprender</a></li>
<li><a href="{% url 'xs:script' %}">Programar</a></li>
<li style="float:right"><a href="{% url 'xs:sign_out' %}">Sair({{ request.user.first_name|title }})</a></li>
{% endblock %}
{% block content %}
  <div class="news_row">
    <div class="news_img">
      <img src="{% static 'xscratch/img/notebook.png' %}"/>
    </div>
    <div class="news_text">
      <h1>Bem vindo ao sistema Mainecoon, {{ request.user.first_name | title }} {{ request.user.last_name | title }}.</h1>
      <p>
        Aqui você será capaz de aprender a programar de maneira simples e interativa.
      </p>
      <p>
        Sinta-se a vontade para navegar pelo site, ler o material disponível e gerar
        seus próprios scripts!
      </p>
    </div>
  </div>
{% endblock %}
